<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/app.js"></script>
    <img src="/images/cyberpunkme.png">
    <title>Document</title>
</head>

<body>
    <h1>About from a static file!</h1>
    <h1>{{ title }}</h1>
    <p>Created by {{ name }}</p>
</body>

</html>